In [24]:
text = '{"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},{"id":651},{"id":652},{"id":653}],"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}'

In [2]:
import pandas as pd 
import numpy as np 
import regex 
import re

In [21]:
text

'[\'{"orders":[{"id":1}\', \'{"id":2}\', \'{"id":3}\', \'{"id":4}\', \'{"id":5}\', \'{"id":6}\', \'{"id":7}\', \'{"id":8}\', \'{"id":9}\', \'{"id":10}\', \'{"id":11}\', \'{"id":648}\', \'{"id":649}\', \'{"id":650}\', \'{"id":651}\', \'{"id":652}\', \'{"id":653}]\', \'"errors":[{"code":3\', \'"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}\']'

In [26]:
text

'{"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},{"id":651},{"id":652},{"id":653}],"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}'

In [63]:
match1 = re.findall('"id":\d+',text)
match2 = re.findall('"code":\d+',text)
for i in match2:
    match1.append(i)

In [64]:
match1

['"id":1',
 '"id":2',
 '"id":3',
 '"id":4',
 '"id":5',
 '"id":6',
 '"id":7',
 '"id":8',
 '"id":9',
 '"id":10',
 '"id":11',
 '"id":648',
 '"id":649',
 '"id":650',
 '"id":651',
 '"id":652',
 '"id":653',
 '"code":3']

In [67]:
for i in match1:
    print(re.findall('\d+',i))

['1']
['2']
['3']
['4']
['5']
['6']
['7']
['8']
['9']
['10']
['11']
['648']
['649']
['650']
['651']
['652']
['653']
['3']

In [99]:
match1 = [int(re.findall('\d+',i)[0]) for i in np.concatenate([re.findall('"id":\d+',text),re.findall('"code":\d+',text)])]
match1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 648, 649, 650, 651, 652, 653, 3]

In [90]:
[i for i in [j for j in np.arange(20)]]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]